
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  color: #003471;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  min-height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.shadow{
  z-index: 99;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.27);
  box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.27);
}

.btn-250 {
  min-width: 200px;
  max-width: 250px;
}

.btn-radius-left {
  border-radius: 5px 0 0 5px;
}

.btn-radius-right {
  border-radius: 0 5px 5px 0;
}

.header {
  background-color: rgba(0, 31, 41, 0.85);
}

video {
  margin: 0 auto;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
}

section {
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.section-01 {
  background-image: url("/background.png");
}

.section-02 {
  background-image: url("/background2.png");
}

#sidebar {
  background: url("/sidebar.png");
  background-size: cover;
  background-attachment: fixed;
}

input {
  background: transparent;
  border: 1px white solid;
  width: 100%;
  padding: 5px;
  color: white;
}